@charset "utf-8";

/* fonts import */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic);


/* reset */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000;}

/* wrapper */
.wrapper {width: 1450px; margin: 0 auto; background: #fff;}


/* nav */
.nav {width: 1152px; margin: 0 auto; overflow: hidden;}
	.nav .header_logo {margin: 21px 0 16px 0; float: left;}
	.nav .menu {float: left; overflow: hidden; width: 700px;}
	.nav .menu ul {margin: 10px 0 0 33px;}
	.nav .menu li {display: inline-block; width: 107px; text-align: center; margin-right: 10px; margin-right: 23px;}
	.nav .menu a {display: block; position: relative; text-decoration: none; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 14px; line-height: 62px; height: 62px; border-bottom: 4px solid #fff; color: #000;}
	.nav .menu a:hover {border-bottom: 4px solid #ee6c0c;}

	.nav p {float: right; margin: 27px 1px 24px 0; font-family: 'Roboto', sans-serif; font-size: 25px; line-height: 25px; font-weight: 500;}


/* who_is_wrapper */
.who_is_wrapper {background: url(../img/who_is_bg.png) 0 0 no-repeat; height: 643px;}
	.who_is {width: 1152px; margin: 0 auto;}
	.who_is h1 {font-family: 'Roboto', sans-serif; font-size: 40px; line-height: 52px; font-weight: 100; color: #fff; text-align: center; padding-top: 60px;}
	.who_is i {font-style: normal; font-size: 24px; line-height: 24px;}

	.item_wrapper {overflow: hidden;}
	.item_wrapper .item {float: left; width: 175px; margin: 72px 12px 0 3px; padding-top: 140px; text-align: center;}
	.item_wrapper .item p {font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 19px; font-weight: 100; color: #fff; padding-top: 10px;} 
	.item_wrapper .item1 {background: url(../img/who_is_items.png) 19px 0 no-repeat;}
	.item_wrapper .item2 {background: url(../img/who_is_items.png) -171px 0 no-repeat; margin-right: 16px;}
	.item_wrapper .item3 {background: url(../img/who_is_items.png) -365px 0 no-repeat; margin-right: 16px;}
	.item_wrapper .item4 {background: url(../img/who_is_items.png) -559px 0 no-repeat; margin-right: 23px;}
	.item_wrapper .item5 {background: url(../img/who_is_items.png) -760px 0 no-repeat;}
	.item_wrapper .item6 {background: url(../img/who_is_items.png) -950px 0 no-repeat; margin-right: 0;}

	.who_is h2 {text-align: center; margin: 56px 0px 0px 437px; font-weight: normal;}
	.who_is a {text-decoration: none;}


/* discount */
.discount {background: url(../img/discount_bg.png) 0 0 no-repeat;}
	.discount h2 {padding: 28px 0 27px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}
	.discount b {color: #ea6753;}
	
	.clock_wrapper {overflow: hidden; margin-left: 434px;}
	.clock_wrapper .clock_item {float: left; background: url(../img/discount_clock.png) 0 0 no-repeat; width: 170px; height: 181px; margin-left: -20px;}
	.clock_wrapper .clock_item:first-child {margin-left: 0;}

	.discount p {font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 14px; font-weight: 300; text-align: center; margin-top: -28px; color: #555;}
	.discount h3 {text-align: center; margin: 23px 0px 0px 586px; padding-bottom: 40px; font-weight: normal;}
	.discount a {text-decoration: none;}


/* certificate */
.certificate {background: url(../img/certificate_bg.png) 0 0 no-repeat; height: 333px;}
	.certificate p {padding: 99px 0 0 155px; width: 520px; font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 24px; line-height: 28px; color: #fff;}


/* help */
.help {background-color: #fafbfe;}
	.help h2 {padding: 31px 0 48px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}

	.help_wrapper {overflow: hidden;}
	.help_wrapper .item {float: left; color: #000;}
	.help_wrapper .item h3 {font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 18px; font-weight: 700; padding: 137px 0 0 17px;}
	.help_wrapper ul {font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 36px; font-weight: 300px; margin: 15px 0 0 15px;}
	.help_wrapper .li_style1 {background: url(../img/help_ul.png) 0 12px no-repeat; padding-left: 24px;}
	.help_wrapper .li_style2 {background: url(../img/help_ul.png) -285px 12px no-repeat; padding-left: 24px;}
	.help_wrapper .li_style3 {background: url(../img/help_ul.png) 1px -25px no-repeat; padding-left: 24px;}

	.help_wrapper .item1 {background: url(../img/help_items.png) 77px 20px no-repeat, #fff; margin: 0 33px 0 176px;}
	.help_wrapper .item2 {background: url(../img/help_items.png) -208px 20px no-repeat, #fff; margin-right: 33px;}
	.help_wrapper .item3 {background: url(../img/help_items.png) -491px 20px no-repeat, #fff; margin-right: 33px;}
	.help_wrapper .item4 {background: url(../img/help_items.png) -773px 20px no-repeat, #fff;}

	.help_wrapper .price_wrapper {overflow: hidden; margin: 21px 0 8px 0; font-family: 'Roboto', sans-serif; font-size: 14px;}
	.help_wrapper .price_wrapper .price {display: block; position: relative; float: left; margin-left: 15px; line-height: 22px;}
	.help_wrapper .price_wrapper .amount {display: block; position: relative; float: right; margin-right: 13px; line-height: 22px;}
	.help_wrapper .price_wrapper .amount b {font-size: 22px; line-height: 22px;}

	.help h4 {text-align: center;}
	.help a {text-decoration: none;}

	.help .green_button {display: block; position: relative; height: 50px; width: 252px; font-family: 'Roboto', sans-serif; font-size: 18px !important; line-height: 50px; font-weight: 500; border: 0 none; color: #fff; background-color: #00aa9f;}
	.help .green_button:hover {background-color: #00989f;}
	.help .green_button:active {background-color: #00769f;}

	.help h5 {text-align: center; margin-top: 53px;}
	.help .gray_button {display: block; position: relative; height: 76px; width: 100%; font-family: 'Roboto', sans-serif; font-size: 18px !important; line-height: 76px; font-weight: 300; border: 0 none; color: #283849; background: url(../img/help_arrow.png) 818px 25px no-repeat, #e9ecf1;}
	.help .gray_button:hover {background-color: #dadce0;}
	.help .gray_button:active {background-color: #c4c7ca;}


/* why */
.why {height: 682px; background-color: #fff;}
	.why h2 {padding: 33px 0 48px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}

	.block_wrapper {overflow: hidden; margin: 10px 0 10px 0;}
	.block_wrapper .block {}
		.block_wrapper .block h4 {font-family: 'Roboto', sans-serif;}

	.block_wrapper .block1 {float: left; width: 430px; border: 1px gray; min-height: 100px; background: url(../img/block_item1.png) 0 0 no-repeat, #f6f7f9; margin-right: 10px;}
	.block_wrapper .block2 {}


/* stat */
.stat {height: 220px; background: url(../img/stat_bg.png) 0 0 no-repeat;}
	.stat p {margin: 0 292px 0 320px; font-family: 'Roboto', sans-serif; font-size: 18px; line-height: 21px; color: #000;}
	.stat .red {color: red;}
	.stat .stat_first {padding-top: 31px;}


/* how */
.how {height: 766px; background-color: #555;}


/* on_off */
.on_off {background-color: #fff;}
	.on_off h2 {padding: 30px 0 12px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}
	.on_off p {font-family: 'Roboto', sans-serif; text-align: center; font-weight: 100; font-size: 24px; line-height: 28px; color: #000; text-align: center; width: 866px; padding-left: 292px;}

	.on_off .oo_wrapper {overflow: hidden; margin: 34px 0 60px 312px;}
	.on_off .oo_wrapper li {font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 14px; line-height: 22px; padding-top: 35px; text-align: center; background: url(../img/green_dot.png) 148px 12px no-repeat;}

	.on_off .oo_wrapper .offline {float: left; width: 320px; margin-right: 192px;}
	.on_off .oo_wrapper .offline h3 {font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 24px; line-height: 26px; background: url(../img/on_off.png) 92px 0 no-repeat; padding-top: 168px; text-align: center;}

	.on_off .oo_wrapper .online {float: left; width: 320px;}
	.on_off .oo_wrapper .online h3 {font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 24px; line-height: 26px; background: url(../img/on_off.png) -420px 0 no-repeat; padding-top: 170px; text-align: center;}


/* graduates */
.graduates {height: 802px; background: url(../img/grad_bg.png) 0 0 repeat-y;}
	.graduates h2 {padding: 35px 0 24px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #fff; text-align: center;}
	.graduates h4 {padding: 1px 0 1px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 25px; line-height: 25px; color: #fff; text-align: center;}
	.graduates b {font-size: 30px;}

	.graduates .person_wrapper {overflow: hidden; margin: 36px 0 10px 199px;}
	.graduates .person_wrapper .person {float: left; width: 322px; margin-right: 45px;}
	.graduates .person_wrapper .person .white {background-color: #fff; padding-top: 24px;}
	.graduates .person_wrapper .person .white h5 {background: url(../img/person_item.png) 116px 0 no-repeat; padding-top: 100px; text-align: center; font-family: 'Roboto', sans-serif; font-size: 23px;}
	.graduates .person_wrapper .person .white p {font-family: 'Roboto', sans-serif; margin: 0 15px 0 26px;}

	.graduates .person_wrapper .person .green {background-color: green;}
	.graduates .person_wrapper .person .green p {font-family: 'Roboto', sans-serif; color: #fff;}

/* sign_up */
.sign_up {background-color: #45a4d9;}
	.sign_up h2 {padding: 31px 0 17px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 30px; line-height: 30px; color: #fff; text-align: center;}
	.sign_up form {text-align: center;}
	.sign_up input {border: 0 none; width: 390px; height: 52px; margin-bottom: 9px; padding: 0 20px; font-size: 15px;}
	.sign_up h3 {text-align: center; margin: 4px 0px 0px 592px; padding-bottom: 32px; font-weight: normal;}
	.sign_up a {text-decoration: none;}









/* want_more */
.want_more {background-color: #ececec;}
	.want_more h2 {padding: 37px 0 23px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}
	.want_more p {font-family: 'Roboto', sans-serif; margin: 0 0 30px 225px; font-weight: 100; font-size: 24px; line-height: 29px; width: 980px; text-align: center;}
	.want_more a {text-decoration: none;}
	.want_more .pay1 {background: url(../img/want_more_cards.png) 0 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 10px;}
	.want_more .pay2 {background: url(../img/want_more_cards.png) -70px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 10px;}
	.want_more .pay3 {background: url(../img/want_more_cards.png) -140px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .pay4 {background: url(../img/want_more_cards.png) -210px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .pay5 {background: url(../img/want_more_cards.png) -280px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .pay6 {background: url(../img/want_more_cards.png) -350px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .pay7 {background: url(../img/want_more_cards.png) -420px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .pay8 {background: url(../img/want_more_cards.png) -490px 0 no-repeat; height: 44px; width: 90px; padding: 44px 62px 0 0; margin-right: 8px;}
	.want_more .want_medium {font-weight: 500; font-size: 16px; line-height: 18px;}

	.want_more .pay_wrapper {margin: 0 0 3px 450px; padding-top: 25px;}

	.want_more h3 {text-align: center; margin: -10px 0px 0px 536px; padding-bottom: 40px; font-weight: normal;}
	.want_more .big_button {display: block; position: relative; height: 56px; width: 394px; font-family: 'Roboto', sans-serif; font-size: 18px !important; line-height: 56px; font-weight: 500; border: 0 none; color: #fff; background-color: #48c078; border-radius: 4px;}
	.want_more .big_button:hover {background-color: #41af6d;}
	.want_more .big_button:active {background-color: #3c9f64;}

	.want_more_bg {background: url(../img/want_more_bg.png) 0 0 no-repeat; height: 227px; margin-top: 19px;}


/* want_free */
.want_free {background-color: #fff; text-align: center;}
	.want_free h2 {padding: 30px 0 40px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000;}
	.want_free p {font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 24px; line-height: 28px; color: #000; margin: 0 224px;}

	.want_free .want_free_img {margin: 43px 0 68px 0;}


/* sign */
.sign {height: 194px; background: url(../img/sign_bg.png) 0 0 no-repeat;}
	.sign p {font-family: 'Roboto', sans-serif; color: #fff; font-weight: 400; font-size: 24px; line-height: 28px; text-align: center; width: 990px; padding: 34px 0 0 230px;}
	.sign h3 {text-align: center; margin: 27px 0px 0px 594px; padding-bottom: 40px; font-weight: normal;}
	.sign a {text-decoration: none;}


/* partners */
.partners {height: 543px; background-color: #fff;}
	.partners h2 {padding: 30px 0 48px 0; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 40px; line-height: 40px; color: #000; text-align: center;}


/* line */
.line {background: url(../img/line_bg.png) 0 0 repeat; height: 1px; width: 1450px;}


/* footer */
.footer {overflow: hidden; height: 178px; background-color: #fff;}
	.footer a {text-decoration: none; text-align: center;}

	.footer .footer_logo {float: left; margin: 22px 49px 0 156px;}
	
	.footer .footer_sign {float: left;}
	.footer .footer_sign h4 {margin: 31px 0 21px 0; padding-left: 25px; background: url(../img/footer_icons.png) 0 2px no-repeat; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 18px; line-height: 18px;}
	.footer .footer_sign ul {margin-bottom: 18px;}
	.footer .footer_sign li {display: inline-block; padding-left: 25px; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 18px; line-height: 18px;}
	.footer .footer_sign .li_item1 {background: url(../img/footer_icons.png) 0 -37px no-repeat; margin-right: 36px;}
	.footer .footer_sign .li_item2 {background: url(../img/footer_icons.png) -127px -37px no-repeat;}
	.footer .footer_sign h3 {padding-bottom: 40px; font-weight: normal;}


	.footer .footer_mail {float: right; margin: 0px 152px 0px 0;}
	.footer .footer_mail h5 {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 18px; line-height: 18px; margin: 23px 0 18px 0; text-align: right;}
	.footer .footer_mail input {border: 2px solid #cecece; width: 309px; height: 42px; margin-bottom: 13px; padding: 0 20px; font-size: 18px;}
	.footer .footer_mail h6 {margin-left: 87px;}

	
/* global */
.orange_button {display: block; position: relative; height: 52px; width: 275px; font-family: 'Roboto', sans-serif; font-size: 18px !important; line-height: 52px; font-weight: 500; border: 0 none; color: #fff; background-color: #ee6c0c; border-radius: 4px;}
	.orange_button:hover {background-color: #d36c0c;}
	.orange_button:active {background-color: #bf6c0c;}

.orange_button_small {display: block; position: relative; height: 42px; width: 222px; font-family: 'Roboto', sans-serif; font-size: 16px !important; line-height: 42px; font-weight: 500; border: 0 none; color: #fff; background-color: #ee6c0c;}
	.orange_button_small:hover {background-color: #d36c0c;}
	.orange_button_small:active {background-color: #bf6c0c;}

.blue_button {display: block; position: relative; height: 52px; width: 275px; font-family: 'Roboto', sans-serif; font-size: 18px !important; line-height: 52px; font-weight: 500; border: 0 none; color: #fff; background-color: #009ddb; border-radius: 4px;}
	.blue_button:hover {background-color: #0090c9;}
	.blue_button:active {background-color: #0082b5;}





